body {
  background-color: #f5f5f5;
}

.auth-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 100%;
  min-height: 100vh;
  width: 100%;
}

.auth-inner {
  width: 100%;
  max-width: 500px;
}

.auth-logo {
  text-align: center;
}

.auth-logo img {
  width: 64px;
}
